@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin rowStyle {
  font-size: 2rem;
  font-weight: 700;
  // color: $color-white;
  height: 7rem;
  // text-align: center;
  // background-color: $color-primary-light;
  float: left;
  padding-top: 1.75rem;
}
